*{
    margin: 0px;
    overflow: hidden;
}
body,html{
    background-color: #eee;
    height: 100%;
}
canvas{
    touch-action: none;
    /* display:none; */
    background-color:#7EC0EE;
}
#start_screen{
    background-color: #eee;
    height: 80%;
    position: relative;
  }
.start-wrapper{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;    
}
#start_button{
    height:100px;
    width:150px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #000;
    color:#eee;
}

#start_button:hover, #start_button:focus{
    background-color: #555;
    color:#eee;
}
